<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.biz.mapper.BizCategoriesMapper">
    
    <resultMap type="BizCategories" id="BizCategoriesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFalg"    column="del_falg"    />
    </resultMap>

    <sql id="selectBizCategoriesVo">
        select id, name, sort, status, create_by, update_by, create_time, update_time, del_falg from biz_categories
    </sql>

    <select id="selectBizCategoriesList" parameterType="BizCategories" resultMap="BizCategoriesResult">
        <include refid="selectBizCategoriesVo"/>
        <where>
            del_falg = '1'
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
        order by sort desc
    </select>
    
    <select id="selectBizCategoriesById" parameterType="Long" resultMap="BizCategoriesResult">
        <include refid="selectBizCategoriesVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizCategories" parameterType="BizCategories" useGeneratedKeys="true" keyProperty="id">
        insert into biz_categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFalg != null">del_falg,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFalg != null">#{delFalg},</if>
         </trim>
    </insert>

    <update id="updateBizCategories" parameterType="BizCategories">
        update biz_categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFalg != null">del_falg = #{delFalg},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizCategoriesById" parameterType="Long">
        update  biz_categories set del_falg = '0' where id = #{id}
    </delete>

    <delete id="deleteBizCategoriesByIds" parameterType="String">
        update  biz_categories set del_falg = '0' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>