<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.biz.mapper.BizProductsMapper">
    
    <resultMap type="BizProducts" id="BizProductsResult">
        <result property="id"    column="id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="image"    column="image"    />
        <result property="shopName"    column="shop_name"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="categoryName"    column="category_name"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectBizProductsVo">
        select bp.id, bp.category_id, bp.user_id, bp.name, bp.price, bp.image, bp.shop_name, bp.audit_status, bp.sort,
               bp.status, bp.create_by,bp.update_by, bp.create_time, bp.update_time, bp.del_flag, bc.name as category_name, su.nick_name as user_name
        from biz_products bp
        left join  biz_categories bc on bp.category_id = bc.id
        left join  sys_user su on bp.user_id = su.user_id
    </sql>

    <select id="selectSimpleProductById"  resultType="com.shop.biz.domain.BizProductSimple">
        select
            id,
            name,
            price,
            image,
            shop_name  'shopName',
            audit_status 'auditStatus',
            user_id 'userId'
        from biz_products
        where id = #{id}
            limit 1
    </select>

    <select id="selectBizProductsList" parameterType="BizProducts" resultMap="BizProductsResult">
        <include refid="selectBizProductsVo"/>
        <where>
            bp.del_flag = '1'
            <if test="categoryId != null "> and bp.category_id = #{categoryId}</if>
            <if test="userId != null "> and bp.user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and bp.name like concat('%', #{name}, '%')</if>
            <if test="shopName != null  and shopName != ''"> and bp.shop_name like concat('%', #{shopName}, '%')</if>
            <if test="auditStatus != null  and auditStatus != ''"> and bp.audit_status = #{auditStatus}</if>
            <if test="status != null  and status != ''"> and bp.status = #{status}</if>
        </where>
        order by bp.sort desc
    </select>
    
    <select id="selectBizProductsListByCategoriesId" parameterType="Long" resultMap="BizProductsResult">
        <include refid="selectBizProductsVo"/>
        where bp.del_flag = '1'  and bp.audit_status = '1' and bp.status = '1' and  bp.category_id = #{categoryId}
        order by bp.sort desc
    </select>

    <select id="selectBizProductsListByUserId" parameterType="Long" resultMap="BizProductsResult">
        <include refid="selectBizProductsVo"/>
        where bp.del_flag = '1'  and bp.audit_status = '1' and bp.status = '1' and  bp.user_id = #{userId}
        order by bp.sort desc
    </select>

    <select id="selectBizProductsById" parameterType="Long" resultMap="BizProductsResult">
        <include refid="selectBizProductsVo"/>
        where bp.id = #{id}
    </select>

    <insert id="insertBizProducts" parameterType="BizProducts" useGeneratedKeys="true" keyProperty="id">
        insert into biz_products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="image != null">image,</if>
            <if test="shopName != null">shop_name,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null">#{image},</if>
            <if test="shopName != null">#{shopName},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBizProducts" parameterType="BizProducts">
        update biz_products
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="shopName != null">shop_name = #{shopName},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizProductsById" parameterType="Long">
        update biz_products set del_flag = '0' where id = #{id}
    </delete>

    <delete id="deleteBizProductsByIds" parameterType="String">
        update biz_products set del_flag = '0' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>