<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.biz.mapper.BizWithdrawalsMapper">
    
    <resultMap type="BizWithdrawals" id="BizWithdrawalsResult">
        <result property="id"    column="id"    />
        <result property="withdrawNo"    column="withdraw_no"    />
        <result property="userId"    column="user_id"    />
        <result property="money"    column="money"    />
        <result property="qrcode"    column="qrcode"    />
        <result property="status"    column="status"    />
        <result property="reason"    column="reason"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="payBy"    column="pay_by"    />
        <result property="payTime"    column="pay_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="nickName"    column="nick_name"    />
    </resultMap>

    <sql id="selectBizWithdrawalsVo">
        select bw.id, bw.withdraw_no, bw.user_id, bw.money, bw.qrcode, bw.status, bw.reason, bw.audit_by, bw.audit_time,
               bw.pay_by, bw.pay_time, bw.create_by, bw.create_time, bw.update_by, bw.update_time, bw.del_flag ,
               su.nick_name
        from biz_withdrawals bw
        left join  sys_user su on su.user_id = bw.user_id
    </sql>

    <select id="selectBizWithdrawalsList" parameterType="BizWithdrawals" resultMap="BizWithdrawalsResult">
        <include refid="selectBizWithdrawalsVo"/>
        <where>
            bw.del_flag = '0'
            <if test="withdrawNo != null  and withdrawNo != ''"> and bw.withdraw_no = #{withdrawNo}</if>
            <if test="userId != null "> and bw.user_id = #{userId}</if>
            <if test="money != null "> and bw.money = #{money}</if>
            <if test="qrcode != null  and qrcode != ''"> and bw.qrcode = #{qrcode}</if>
            <if test="status != null  and status != ''"> and bw.status = #{status}</if>
            <if test="reason != null  and reason != ''"> and bw.reason = #{reason}</if>
            <if test="auditBy != null  and auditBy != ''"> and bw.audit_by = #{auditBy}</if>
            <if test="auditTime != null "> and bw.audit_time = #{auditTime}</if>
            <if test="payBy != null  and payBy != ''"> and bw.pay_by = #{payBy}</if>
            <if test="payTime != null "> and bw.pay_time = #{payTime}</if>
        </where>
    </select>

    <select id="listAllByUserId" parameterType="BizWithdrawals" resultMap="BizWithdrawalsResult">
        <include refid="selectBizWithdrawalsVo"/>
        <where>
            bw.del_flag = '0' and bw.user_id = #{userId}
        </where>
        order by bw.create_time desc
    </select>
    
    <select id="selectBizWithdrawalsById" parameterType="Long" resultMap="BizWithdrawalsResult">
        <include refid="selectBizWithdrawalsVo"/>
        where bw.id = #{id}
    </select>

    <insert id="insertBizWithdrawals" parameterType="BizWithdrawals" useGeneratedKeys="true" keyProperty="id">
        insert into biz_withdrawals
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="withdrawNo != null and withdrawNo != ''">withdraw_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="money != null">money,</if>
            <if test="qrcode != null and qrcode != ''">qrcode,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="reason != null and reason != ''">reason,</if>
            <if test="auditBy != null and auditBy != ''">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="payBy != null and payBy != ''">pay_by,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="withdrawNo != null and withdrawNo != ''">#{withdrawNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="money != null">#{money},</if>
            <if test="qrcode != null and qrcode != ''">#{qrcode},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="auditBy != null and auditBy != ''">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="payBy != null and payBy != ''">#{payBy},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBizWithdrawals" parameterType="BizWithdrawals">
        update biz_withdrawals
        <trim prefix="SET" suffixOverrides=",">
            <if test="withdrawNo != null and withdrawNo != ''">withdraw_no = #{withdrawNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="money != null">money = #{money},</if>
            <if test="qrcode != null and qrcode != ''">qrcode = #{qrcode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="auditBy != null and auditBy != ''">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="payBy != null and payBy != ''">pay_by = #{payBy},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizWithdrawalsById" parameterType="Long">
        update biz_withdrawals set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteBizWithdrawalsByIds" parameterType="String">
        update biz_withdrawals set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>